*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */


.container{
    border: 2px solid violet;
    height: 100%;
    /* test */

    display: flex;

    width: 1450px;

    margin: auto;
}

a{
   text-decoration: none;
   
   color: white;
}


/* sezione navbar */
nav{
    padding: 15px;

    margin-bottom: 55px;

    background-color: #FF6900;
}

nav .container{
    justify-content: space-between;
}

nav .container div{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .container .logo img{
    width: 200px;
}

nav .container .options{
    text-align: right;
}
/* fine sezione navbar */



/* sezione main */
main .container{
    flex-wrap: wrap;
}

.card-container{
    border: 2px solid red;
    height: 730px;
    /* test */

    width: calc(100% / 3);

    margin-bottom: 50px;
}
/* fine sezione main */


/* sezione footer */
footer{
    background-color: #1A1A1A;
}

footer .container{
    justify-content: space-between;
}

footer .container div{
    width: 400px;
    height: 50px;
    border: 2px solid red;
    /* test */


}
/* fine sezione footer */



