*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* reset */

/* elementi comuni alla pagina */
.container{
    border: 2px solid violet;
    height: 100%;
    /* test */

    display: flex;

    width: 1450px;

    margin: auto;
}

a{
   text-decoration: none;
   
   color: white;
}

.info{
    position: absolute;
    bottom: 50px;
}
/* fine elementi comuni alla pagina */



/* sezione navbar */
nav{
    padding: 15px;

    margin-bottom: 55px;

    background-color: #FF6900;
}

nav .container{
    justify-content: space-between;
}

nav .container div{
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .container .logo img{
    width: 200px;
}

nav .container .options{
    text-align: right;
}
/* fine sezione navbar */



/* sezione main */
main .container{
    flex-wrap: wrap;
}

.card-container{
    width: calc(100% / 3);

    padding: 20px;

    margin-bottom: 50px;
}

main .container .card-container .photo{
    position: relative;
}

main .container .card-container .photo .image :hover{
    content: url('../img/1b.webp');
}

main .container .card-container .photo .image img{
    width: 100%
}

.favourite{
    position: absolute;
    top: 10px;
    right: 0;

    width: 45px;
    height: 50px;
    background-color: white;
}

.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 25px;
}

.info.discount{
    padding: 5px;

    color: white;
    background-color: red;
}

.info.sustainable{
    left: 50px;

    padding: 5px 10px;

    color: white;
    background-color: green;
}

main .container .card-container .description .type{
    font-weight: bold;
}

main .container .card-container .description .price{
    color: red;
}

main .container .card-container .description .original-price{
    color: black;
    text-decoration: line-through;
}

/* fine sezione main */



/* sezione footer */
footer{
    background-color: #1A1A1A;
}

footer .container{
    justify-content: space-between;
}

footer .container div{
    width: 400px;
    height: 50px;
    border: 2px solid red;
    /* test */


}
/* fine sezione footer */



